@font-face {
  font-family: "Pretendard-Light";
  src: url("/fonts/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("/fonts/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("/fonts/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("/fonts/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("/fonts/Pretendard-Bold.woff") format("woff");
}
