@import "tailwindcss";
@import "./fonts.css";
@import "./toast.css";
@import "./modal.css";
@import "./slideUp.css";
@import "./skeleton.css";
@import "./gauge.css";

@theme {
  /* Font */
  --font-light: "Pretendard-Light", sans-serif;
  --font-normal: "Pretendard-Regular", sans-serif;
  --font-medium: "Pretendard-Medium", sans-serif;
  --font-semibold: "Pretendard-Semibold", sans-serif;
  --font-bold: "Pretendard-Bold", sans-serif;

  /* Text */
  --text-xs: 12px;
  --text-xs--line-height: 16px;

  --text-sm: 14px;
  --text-sm--line-height: 20px;

  --text-base: 16px;
  --text-base--line-height: 24px;

  --text-lg: 18px;
  --text-lg--line-height: 28px;

  --text-xl: 20px;
  --text-xl--line-height: 28px;

  --text-2xl: 24px;
  --text-2xl--line-height: 32px;

  --text-3xl: 30px;
  --text-3xl--line-height: 36px;

  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-blue-950: #172554;

  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;

  --breakpoint-sm: 744px;
  --breakpoint-smd: 964px;
  --breakpoint-md: 1520px;
}

@layer base {
  * {
    box-sizing: content-box;
  }
  button {
    @apply cursor-pointer;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 배경 */
::-webkit-scrollbar-track {
  background: #e2e8f0;
  border-radius: 5px;
}

/* 스크롤바 손잡이 */
::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
